body {
    background-image: url('/media/studiospace_001.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin:4em 0;
}
h1 {
  border:0;
  color:#000;
  font-size:4em;
}
a {
  text-decoration:underline;
}
div.post {
  max-width:800px;
  margin: 0 auto;
  background:#fff;
  padding:2em;
}