<style>

.menu h1.title {
  width:100%;
  text-align:center;
  border:0;
  color:#000;
}
.menu  h1.title a {
  background:#fff;
  padding:20px;
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
}
.menu img {
  width:100%;
}
.menu ul {
  text-align:center;
  width:500px;
  margin: 0 auto;
}
.menu ul li {
  background:#fff;
  padding:0.5em 1em;
  display:inline-block;
  margin:0.4em;
}
.menu ul li a {
  text-decoration:none;
}
.menu a {
  box-shadow: 10px 10px 45px #ff0088;
}
</style>

<div class="menu">
<h1 class="title">
  <a href="/index.html">studiospace</a>
</h1>

<!-- <div>
<ul>
  <li>
    <a href="/booking.html">booking</a>
  </li>
  <li>
    <a href="/about.html">about</a>
  </li>

    - blog
    - calendar

</ul>
</div> -->

</div>